h2 {
    font-size:20px;
    font-family: fantasy;
    color:ivory;
    text-align: left;
    
}

Header {
    font-size: 24px;
    font-family: fantasy;
    color:navy;
}

body {
    background-image: URL(psuiloveu.jpg);
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    color:navy;
}